* {
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}

.btn {
    border: 0px;
    background: none;
    padding: 8px 30px;
    background: red;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
}